<% provide(:title, @user.name) %>
<section class="main-container col1-layout">
  <div class="main container">
    <div class="page-content">
      <div class="account-login">
        <div class="box-authentication">
        <div>
          <h4 class="pinline"><%= t ".my_profile" %></h4>
        </div>
          <%= form_for @user do |f| %>
            <% if @user.avatar.attached?  %>
               <img src = "<%=(url_for(@user.avatar)) %>">
            <% end %>
            <%= f.label :username %>
            <%= f.text_field :name, class: "form-control", disabled: true%>
            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control", disabled: true %>
            
            <% if @user.id != current_user.id %>  
            <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                    "data-sid" => current_user.id, "data-rip" => @user.id %>
            <% end %>
          
          <% end %>
          <p class="pinline"><%= link_to "update", edit_user_registration_path(current_user) %></p>
        </div>
      </div>
    </div>
  </div>
</section>


