<h1><% %></h1>
<body class = "woocommerce">
    <ul class="mystyle-products">
      <% if @items.count == 0 %>
         <h1>You don't have any item, let's start !!!</h1>
          <button><%= link_to "Add item", new_item_path %><button>
      <% else %>
       <% @items.each do |item| %>
          <li class="product">
            <a href = "/items/<%= item.id %>">
            <%= image_tag item.item_img.url(:item_index),class: "item" %>
            </a>       
          <h2><%= link_to item.name, item_path(item) %></h2>
          
          <span class="price">
            <ins> <span class="amount"><%= item.price %></span> </ins>
          </span>
        
           <button class="button_index" rel="nofollow" href="#">
             Add to cart
            </button>
         </li>  
        <% end %>
       <% end %>   

</ul>
</body>
