<h1>Edit Item</h1>

<%= simple_form_for @item, :html => { :multipart => true } do |f|  %>
 <%= f.select :category_id, @categories %>
 <%= f.file_field :item_img %>
 <%= f.input :code, label: "Code" %>
 <%= f.input :name %>
 <%= f.input :description %>
 <%= f.input :producer %>
 <%= f.button :submit %>
<% end %>