<%
=begin%>
 <h1 class="current-category"><%= params[:category] %></h1>
<% if @items.count == 0 %>
  <h1>Don't have any items in this categories</h1>
<% else %>
   <div class = "row">
     <% @items.each do |item| %>
      
     <div class= "col-md-3">
        <a href = "/items/<%= item.id %>">
          <%= image_tag item.item_img.url(:item_index), class: "item" %>
        </a> 
     </div>

     
     <% end %>
   </div>
<% end %> 
<%
=end%>


 

 

 
<body class="woocommerce">
  
    <ul class="mystyle-products">
    <% if @items.count == 0 %>
          <h1>Don't have any items in this categories</h1>
    <% else %>
       <% @items.each do |item| %>
      <li class="product">
            <a href = "/items/<%= item.id %>">
            <%= image_tag item.item_img.url(:item_index),class: "item" %>
            </a>       
          <h2><%= link_to item.name, item_path(item) %></h2>
          
          <span class="price">
            <ins> <span class="amount"><%= item.price %></span> </ins>
          </span>
        
        <button class="button_index" rel="nofollow" href="#">
         Add to cart
        </button>
      </li>  
        
 <a href="#" class="btn btn-dark btn-circle btn-review" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="ion ion-ios-move"></i></a>  
      
      <% end %>  
    <%end %>  
    </ul>
</body>

  

