<div class= "row">
  <div class="col-md-4">
  <%= image_tag @item.item_img.url(:item_show), class: "item-show" %>
  </div>
  
  <div class="col-md-8">
    <div class= "item-info">
     
    
     
     <h3 class = "item-producer">From: <%=link_to @item.ur_store.name, ur_store_path(@item.ur_store.id) %></h3>
     <h3 class = "item-producer">Producer: <%= @item.producer %> </h3>
     
     <h2>Avarage rating</h2>
     <div class= "average-review-rating" data-score=<%= @average_review %>></div>
     <span class ="number-of-reviews">Based on <%= @item.reviews.count %> reviews</span>
     <h4>Category: <%= @item.category.name%> </h4> 
     <h5>Price:    <%= @item.price %></h5>
     <%= button_to "Add to cart" ,line_items_path(item_id: @item) , class: 'btn btn-success'%>
     <p class= "item-desc"><%= @item.description %></p>
     
    <h2> see more product from<%= link_to @item.ur_store.name, ur_store_path(@item.ur_store.id)   %></h2> 

=end%>
  </div>
   
  

</div>



<div class = "row">
  <div class = "col-md-4">
    <div class ="reviews">
       <div id = 'new-review'>
          <%= render @item.reviews %>
       </div>
    </div>
  </div>
</div>
<h2>Add review</h2>
<%= render "reviews/form" %>





<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>

<script>
 $('.review-rating').raty({
   readOnly: true,
   path: '/assets/', 
   score: function() {
     return $(this).attr('data-score');
   }
 });
</script>