<tr>
  <td class="cart_product">
    <%= link_to order_item.item do %>
    <% end %>
  </td>
  <td class="cart_description">
    <p class="item-title">
      <%= link_to order_item.item do %>
        <%= order_item.item_name %>
      <% end %>
    </p>
  </td>
  <td class="price"><span><%= order_item.item_price %></span></td>
  <td class="qty">
    <%= form_tag cart_path(product_id: order_item.item_id), method: :patch do %>
      <%= number_field_tag :quantity, nil, class: "form-control input-sm",
        min: 1, max: order_item.product_quantity,
        value: order_item.quantity %> <br />
      <%= button_tag type: "submit", class: "btn", name: nil do %>
        <%= content_tag :span, t(".apply") %>
      <% end %>
    <% end %>
  </td>
  <td class="price">
    <span>
      <%= calc_price order_item.product_price, order_item.quantity %>
    </span>
  </td>
  <td class="action">
    <%= link_to cart_path(product_id: order_item.product_id), method: :delete,
      data: {confirm: t(".you_sure")} do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </td>
</tr>
