<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class = " navbar navbar-default">
      <div class= "container">
        <div class = "navbar-header">
          <%= link_to "Store", items_path, class: "navbar-brand"%>
        </div>
        
        <ul class= "nav navbar-nav">
           <li><%=link_to "Sign up", new_user_registration_path%></li>
           <% if user_signed_in?%>
               <li><%= link_to "Sign out", destroy_user_session_path, method: :delete%></li>
           <% else %>
               <li><%= link_to "Log in", new_user_session_path %></li>
           <% end %>
        </ul>
       
       <ul class="nav navbar-nav navbar-right"> 
      
         <li class = "dropdown">
            <a href="#" class="dropdown-toggle" data-toggle = "dropdown" 
            role ="button" aria-expanded = "false" >Categories<b class= "caret"></b></a>
          <ul class = "dropdown-menu">
            <% Category.all.each do |category| %>
            <li class= "<%= 'active' if params[:category] == category.name %>">
              <li><%= link_to category.name, items_path(category: category.name), class: "link" %></li>   
            </li>      
            <% end %>
          </ul>
        </li>
        

         
        <% if user_signed_in?%>
         <li><%= link_to "profile", user_path(current_user.id) %></li>
             <li><%= link_to "Your store",ur_stores_url %></li>
             <li><a>your account: <%= current_user.money %></a></li>
        <% end %>
       </ul>
    </div>

    </nav>


    <div class="container-fluid">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div class = "container">
  <%= yield %>
  </div>
  </body>
</html>
